html, body{
  height: 100%;
}




label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input, 
  /* margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 90px; */
label {
  margin: 0.4rem, 0;
}

 body {
  height: 400px;
  width: 300px;
  background-color: #EFEBF4;
} 

a.button1 {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #7C5295;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #3D1961;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7C5295;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; }

.dropdown-content:hover .dropdown-submenu {display: block;}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7C5295;}
}

/* Tab stuff */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px inset #ccc;
  background-color: #3D1961;
}
 

 /* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 99px;
  text-decoration: none;
  font-family:'Fredoka One', cursive;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #7C5295;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #7C5295;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px inset #ccc;
  border-top: none;
  color: #ffffff;
}

h1{
  font-family: 'PT Serif', serif;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}


.jars{

  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 34px;
  margin-right: 85px;
}

.alert {
  padding: 20px;
  background-color: #7C5295;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}


.container {
  display: grid; 
  grid-template-columns: 100px 100px 100px; 
  grid-template-rows: 200px 200px; 
  gap: 0px 0px; 
}


.Malaria-No-More- {
   grid-area: 1 / 1 / 2 / 2; 
   background-color: #bca0dc;
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size: 15px;
   text-align: center;
  }

.RoundUp { 
  grid-area: 1 / 2 / 2 / 3; 
  background-color: #EFEBF4;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 15px;
  text-align: center;
}


.Deworm-The-World { 
  grid-area: 1 / 3 / 2 / 4; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;

}

.Give-Directly { 
  grid-area: 2 / 1 / 3 / 2; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.Alzheimers-Association {
  grid-area: 2 / 2 / 3 / 4; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
   
}
.Alzheimers-Association > a > p{
  margin-left: -5px;
  margin-top: 0px;
  
}

.Borgan-Project { 
  grid-area: 2 / 3 / 3 / 4; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}


/* ------------------------------------ */
.akshayapatra {
  grid-area: 1 / 1 / 2 / 2; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
 }



.city-year { 
 grid-area: 1 / 3 / 2 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;

}

.Association-For-Childhood-Education-International { 
 grid-area: 2 / 1 / 3 / 2; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
}

.Smile-Foundation{
 grid-area: 2 / 2 / 3 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px; 
}
.Smile-Foundation > a > p{
  margin-left: -10px;
  margin-top: 0px;
  overflow: auto;
} 
/* .Alzheimers-Association > a > p{
 margin-left: -5px;
 margin-top: 0px;
  */
/* } */

.womensglobal { 
 grid-area: 2 / 3 / 3 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
}


/* ------------------------------------ */


.Carbon-180{
  grid-area: 1 / 1 / 2 / 2; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
 }



.Natural-Resources-Defense-Council { 
 grid-area: 1 / 3 / 2 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
 color: #ffffff;


}

.Environmental-Working-Group { 
 grid-area: 2 / 1 / 3 / 2; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
 color: #ffffff;
}
.Environmental-Working-Group > a > p{
 margin-left: -5px;
 margin-top: 0px;
 overflow: auto;
} 

.As-you-sow{
 grid-area: 2 / 2 / 3 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
}
.As-you-sow> a > p{
  margin-left: -5px;
  margin-top: 0px;
  overflow: auto;
 } 


.Carbon-Fund{ 
 grid-area: 2 / 3 / 3 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
}

/* ------------------------------------ */



.Animal-Welfare-Institute{
  grid-area: 1 / 1 / 2 / 2; 
  background-color: #bca0dc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;

 }



.Elephant-Sanctuary { 
 grid-area: 1 / 3 / 2 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
 color: #ffffff;


}

.World-Wildlife-Fund { 
 grid-area: 2 / 1 / 3 / 2; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
 color: #ffffff;

}

.Wildlife-Conservation-Society{
 grid-area: 2 / 2 / 3 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 color: #ffffff;
}
.Wildlife-Conservation-Society > a > p{
 margin-left: -5px;
 margin-top: 0px;
 color: #ffffff;

}

.Wild-animal-initiative{ 
 grid-area: 2 / 3 / 3 / 4; 
 background-color: #bca0dc;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 15px;
 text-align: center;
 color: #ffffff;

}




/* ---------------------- */
.aboutUs > p {
  font-family: 'PT Serif', serif;
  text-align: center;
}

.aboutuslogo{
  margin-left: 90px;
}